{% extends 'base.html' %}


{% load static %}
{% block content %}

	<!-- Start slides -->

	<!-- End slides -->

	<!-- Start About -->

	<!-- End About -->

	<!-- Start QT -->

	<!-- End QT -->



	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Your Bill</h2>
						<p>Welcome to Restaurant {{user.username}}</p>
						<p>Here are yor items in Cart</p>
						<p>You have to pay {{sum}} dollars generally</p>
					</div>
				</div>
			</div>

			<div class="row special-list">
				{% for final in final_sabad %}
				<a href="#">
				   <div>
					<div class="gallery-single fix">
						<img src="{{final.food.photo.url}}" width="200" height="200" class="img-fluid" alt="Image">
						<div class="why-text">
							<h4>{{final.number}}</h4>
							<p>{{final.total_price}}</p>
						</div>
					</div>
				</div>

				</a>
				{% endfor %}

			</div>
		</div>
	</div>


<footer>
	<div class="col-md-12">
             <div class="submit-button text-center">
				 <a href="{% url 'pay' user.id %}">
					 <button class="btn btn-common" id="submit" type="submit">Pay Money</button>
                 	<div id="msgSubmit" class="h3 text-center hidden"></div>
                 	<div class="clearfix"></div>
				 </a>
             </div>
         </div>
</footer>



	<!-- End Menu -->

	<!-- Start Gallery -->

	<!-- End Gallery -->

	<!-- Start Customer Reviews -->

	<!-- End Customer Reviews -->

	<!-- Start Contact info -->

	<!-- End Contact info -->


{% endblock %}