<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					{% include 'messages.html' %}
					<ul class="navbar-nav ml-auto">

						{% if request.user.is_authenticated %}
							<li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
							<li class="nav-item active"><a class="nav-link" href="{% url 'show_vote' user.id %}">Vote</a></li>
							<li class="nav-item active"><a class="nav-link" href="{% url 'wallet' user.id %}">Wallet</a></li>
							<li class="nav-item active"><a class="nav-link" href="{% url 'show' %}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'history' user.id %}">Cart History</a></li>
							<li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-a">
									<a class="dropdown-item" href="{% url 'book' %}">Reserve</a>
									<a class="dropdown-item" href="stuff.html">Stuff</a>
									<a class="dropdown-item" href="gallery.html">Gallery</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown-a1" data-toggle="dropdown">Blog</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-a">
									<a class="dropdown-item" href="{% url 'show_blog' %}">blog</a>
									<a class="dropdown-item" href="">blog Single</a>
								</div>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
						{% else %}
							<li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">LogIn</a></li>
							<li class="nav-item active"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
							<li class="nav-item active"><a class="nav-link" href="#">Cart</a></li>
						</ul>
					{% endif %}
				</div>
			</div>
		</nav>
	</header>