{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/bootstrapV5.2/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/font/fontawesome-free-6.1.1-web/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <title>Login Form</title>
</head>

<body>
    <div
        class="d-flex justify-content-center align-items-center vh-100 vw-100 bg-white position-absolute z-index-2 loading">
        <div class="spinner-border fs-1 p-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12 col-md-10 py-5 mt-5 d-flex flex-column align-items-center justify-content-center">
                    <div
                        class="col-12 col-lg-6 col-md-8 filter-blur bg-transparent cu-rounded p-5 custom-shadow position-relative">
                        <button
                            class="btn-theme border-0 shadow-none bg-transparent translate-middle position-absolute">
                            <i class="fa-solid fa-sun c-useful fs-3"></i>
                            <i class="fa-solid fa-moon c-useful fs-3 d-none"></i>
                        </button>
                        <h2 class="f-irS c-useful text-center pb-3 custom-shadow-text"></h2>
                        <h2 class="f-irS c-useful text-center pb-3 custom-shadow-text">
                            Login
                        </h2>
                        <form action="" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-floating mb-3 pb-3">
                                <input type="text" name="username"
                                    class="form-control shadow-none bg-transparent border-0 input-parent c-useful f-irS"
                                    id="floatingInput" placeholder=" " required />
                                <label for="floatingInput" class="c-useful">User Name</label>
                                <span class="inputfocus"></span>
                                <div class="valid-feedback">user name is correct</div>
                                <div class="invalid-feedback">
                                    Please enter your user name correctly
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="password"
                                    class="form-control shadow-none bg-transparent border-0 input-parent c-useful f-irS"
                                    id="floatingPassword" placeholder=" " minlength="8" required />
                                <label for="floatingPassword" class="c-useful">Password</label>
                                <span class="inputfocus"></span>
                                <div class="valid-feedback">passord is correct</div>
                                <div class="invalid-feedback">
                                    Please enter your password correctly
                                </div>
                            </div>
                            <div class="d-flex justify-content-center pt-5">
                                <button type="submit"
                                    class="btn btn-outline-primary btn-custom-login mb-3 w-50 mb-0 p-2 fs-5">
                                    Login
                                </button>
                            </div>
                            <p class="d-flex justify-content-center">_____ New to Restaurant? _____</p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'register'%}"
                                    class="btn btn-outline-primary btn-custom-login mb-3 w-50 mb-0 p-2 fs-5">
                                    Register
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/bootstrapV5.2/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/bootstrapV5.2/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/validation.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>