

{% include 'messages.html' %}
<form action="" method="post">
    {% csrf_token %}
     <div class="row">
         <div class="col-md-6">
             <h3>Add to Wallet</h3>
             <p>you have actually {{wallet.money}} in your wallet</p>
             <div class="col-md-12">
                 <div class="form-group">
                     <input type="text" placeholder="charge" id="money" class="form-control" name="money" required data-error="Please enter the money you want to charge">
                     <div class="help-block with-errors"></div>
                 </div>
             </div>
         </div>
         <div class="col-md-12">
             <div class="submit-button text-center">
                 <button class="btn btn-common" id="submit" type="submit">Add to Wallet</button>
                 <div id="msgSubmit" class="h3 text-center hidden"></div>
                 <div class="clearfix"></div>
             </div>
         </div>
     </div>
</form>

