.form-input {
    margin: 0 auto;
}
  
.form-input label,
.form-input input {
    display: block;
}

.form-input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-input input {
    width: 50%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
}

.form-input input:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
}

.form-input--invalid label,
.form-input--invalid p {
    color: red;
}

.form-input--invalid input {
    border-color: red;
    background: #ffd1d1;
}
